USE [TN_CSDLPT]
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_KIEMTRA_GV_DANGKY_DATHI]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[UDF_KIEMTRA_GV_DANGKY_DATHI] (@MALOP nchar(15), @MAMH char(5)/*, @LAN smallint*/)         
    RETURNS NCHAR(1)
    BEGIN 
		-- nếu sinh viên trong lớp đó có điểm thuộc môn thi và lần đó thì return 'x' (đã thi)
		IF EXISTS(SELECT * FROM 
					(SELECT MASV, MALOP FROM SINHVIEN WHERE MALOP=@MALOP) AS SINHVIEN
					INNER JOIN 
					(SELECT MASV, MAMH/*, LAN*/ FROM BANGDIEM WHERE MAMH = @MAMH /*AND LAN = @LAN*/) AS BANGDIEM
					ON SINHVIEN.MASV = BANGDIEM.MASV
				)
				RETURN 'X'
		RETURN ''
	END 
GO
/****** Object:  UserDefinedFunction [dbo].[UDF_LAY_DIEMCHU_TU_DIEMSO]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UDF_LAY_DIEMCHU_TU_DIEMSO] (@DIEMSO FLOAT)         
    RETURNS NCHAR(1)
    BEGIN 
		IF (@DIEMSO>=8.5 AND @DIEMSO<=10)
			RETURN 'A'
		IF (@DIEMSO>=7 AND @DIEMSO<=8.4)
			RETURN 'B'
		IF (@DIEMSO>=5.5 AND @DIEMSO<=6.9)
		RETURN 'C'
		IF (@DIEMSO>=4.0 AND @DIEMSO<=5.4)
		RETURN 'D'
	RETURN 'F'
  END 
GO
/****** Object:  Table [dbo].[COSO]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [nchar](3) NOT NULL,
	[TENCS] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_COSO] PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_DS_COSO]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_DS_COSO]
AS
SELECT        dbo.COSO.MACS, CONCAT(COSO.MACS,' - ',PUBS.description) AS TENCS, SUBS.subscriber_server AS TENSERVER
FROM            dbo.COSO INNER JOIN
                         dbo.sysmergepublications AS PUBS INNER JOIN
                         dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server ON dbo.COSO.TENCS = PUBS.description
WHERE        (PUBS.description <> N'Site tra cứu')
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[NGAYTHI] [datetime] NULL,
	[DIEM] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BODE]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] NOT NULL,
	[MAMH] [char](5) NULL,
	[TRINHDO] [char](1) NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAP_AN] [char](1) NULL,
	[MAGV] [char](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BAITHI]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BAITHI](
	[CAUSO] [smallint] NULL,
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[CAUHOI] [int] NOT NULL,
	[DACHON] [nchar](1) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_BAITHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC,
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSDK_2COSO]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSDK_2COSO](
	[TENLOP] [nvarchar](50) NULL,
	[TENMH] [nvarchar](50) NULL,
	[GIAOVIENDANGKY] [nvarchar](60) NULL,
	[SOCAUTHI] [smallint] NULL,
	[NGAYTHI] [nvarchar](15) NULL,
	[DATHI] [nchar](1) NULL,
	[GHICHU] [nvarchar](20) NULL,
	[TENCS] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](8) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MAKH] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN_DANGKY]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN_DANGKY](
	[MAGV] [char](8) NULL,
	[MAMH] [char](5) NOT NULL,
	[MALOP] [nchar](15) NOT NULL,
	[TRINHDO] [char](1) NULL,
	[NGAYTHI] [datetime] NULL,
	[LAN] [smallint] NOT NULL,
	[SOCAUTHI] [smallint] NULL,
	[THOIGIAN] [smallint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIAOVIEN_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MALOP] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[MACS] [nchar](3) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](15) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[MAKH] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](5) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TENMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 01/06/2022 10:27:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](8) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MATKHAU] [nchar](25) NOT NULL,
	[MALOP] [nchar](15) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGDIEM] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [rowguid]) VALUES (N'001     ', N'MMTCB', 1, CAST(N'2022-09-04T00:00:00.000' AS DateTime), 1, N'a5e39ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[BANGDIEM] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [rowguid]) VALUES (N'002     ', N'MMTCB', 1, CAST(N'2022-09-04T00:00:00.000' AS DateTime), 3, N'a6e39ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[BANGDIEM] ([MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [rowguid]) VALUES (N'003     ', N'MMTCB', 1, CAST(N'2022-09-04T00:00:00.000' AS DateTime), 3, N'a7e39ea0-4adc-ec11-8eaa-e82aea9c428f')
GO
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (1, N'MMTCB', N'A', N'mạng máy tính(compute netword) so với hệ thống tập trung multi-user', N'dễ phát triển hệ thống', N'tăng độ tin cậy', N'tiết kiệm chi phí', N'tất cả đều đúng', N'D', N'TH657   ', N'c9e29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (3, N'MMTCB', N'A', N'để một máy tính truyền dữ liệu cho một số máy khác trong mạng, ta dùng loại địa chỉ', N'Broadcast', N'Broadband', N'multicast', N'multiple access', N'C', N'TH123   ', N'cae29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (4, N'MMTCB', N'A', N'thứ tự phân loại mạng theo chiều dài đường truyền', N'internet, lan, man, wan', N'internet, wan, man, lan', N'lan, wan, man, internet', N'man, lan, wan, internet', N'B', N'TH123   ', N'cbe29ea0-4adc-ec11-8eaa-e82aea9c428f')
GO
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI], [rowguid]) VALUES (N'CS1', N'Cơ sở 1 ', N'11 Nguyễn Đình Chiểu, Phường Đakao, Quận 1, TP. HCM', N'a1e29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI], [rowguid]) VALUES (N'CS2', N'Cơ sở 2', N'Số 9 Man Thiện , quận 9, TP. HCM', N'a2e29ea0-4adc-ec11-8eaa-e82aea9c428f')
GO
INSERT [dbo].[CT_BAITHI] ([CAUSO], [MASV], [MAMH], [LAN], [CAUHOI], [DACHON], [rowguid]) VALUES (10, N'001     ', N'MMTCB', 1, 3, N'A', N'ade39ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[CT_BAITHI] ([CAUSO], [MASV], [MAMH], [LAN], [CAUHOI], [DACHON], [rowguid]) VALUES (1, N'001     ', N'MMTCB', 1, 17, N'A', N'aee39ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[CT_BAITHI] ([CAUSO], [MASV], [MAMH], [LAN], [CAUHOI], [DACHON], [rowguid]) VALUES (5, N'001     ', N'MMTCB', 1, 86, N'D', N'afe39ea0-4adc-ec11-8eaa-e82aea9c428f')
GO
INSERT [dbo].[DSDK_2COSO] ([TENLOP], [TENMH], [GIAOVIENDANGKY], [SOCAUTHI], [NGAYTHI], [DATHI], [GHICHU], [TENCS]) VALUES (N'Ngành CNTT Khóa 2018 -1', N'ANH VĂN CĂN BẢN', N'Ven Giần', 20, N'21/04/2022', N' ', N'', NULL)
INSERT [dbo].[DSDK_2COSO] ([TENLOP], [TENMH], [GIAOVIENDANGKY], [SOCAUTHI], [NGAYTHI], [DATHI], [GHICHU], [TENCS]) VALUES (N'PHAN TAN 2022', N'ANH VĂN CĂN BẢN', N'Ven Giần', 10, N'28/05/2022', N'X', N'', NULL)
INSERT [dbo].[DSDK_2COSO] ([TENLOP], [TENMH], [GIAOVIENDANGKY], [SOCAUTHI], [NGAYTHI], [DATHI], [GHICHU], [TENCS]) VALUES (N'PHAN TAN 2022', N'MẠNG MÁY TÍNH CĂN BẢN', N'GIAO VIEN MOI', 10, N'01/06/2022', N' ', N'', NULL)
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH002   ', N'Ven', N'Giần', N'97 Hiệp Phú', N'CNTT    ', N'aee29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH091   ', N'GIAO', N'VIEN MOI', N'123 Hàng rong', N'DPT     ', N'd5922204-0ce1-ec11-8eab-28d244961870')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH101   ', N'KIEU DAC', N'THIEN', N'9,3A, Q.BINH TAN', N'CNTT    ', N'afe29ea0-4adc-ec11-8eaa-e82aea9c428f')
GO
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'TH002   ', N'AVCB ', N'D18CQCN01      ', N'A', CAST(N'2022-04-21T00:00:00.000' AS DateTime), 1, 20, 30, N'a9e39ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'TH002   ', N'AVCB ', N'PT01           ', N'A', CAST(N'2022-05-28T11:41:42.040' AS DateTime), 1, 10, 15, N'50e9dc86-40de-ec11-8eab-e82aea9c428f')
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'TH101   ', N'AVCB ', N'PT02           ', N'A', CAST(N'2022-06-01T03:09:32.980' AS DateTime), 1, 10, 15, N'9dbe68a2-1de1-ec11-8eab-28d244961870')
GO
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'CNTT    ', N'Công nghệ thông tin', N'CS1', N'a9e29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'CNTT2   ', N'Công nghệ 2', N'CS1', N'aae29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'DPT     ', N'DA PHUONG TIEN', N'CS1', N'521e71c1-0be1-ec11-8eab-28d244961870')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D18CQCN01      ', N'Ngành CNTT Khóa 2018 -1', N'CNTT2   ', N'b6e29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'DT01           ', N'ĐIỆN TỬ 01', N'DT      ', N'd3c6d449-1ee1-ec11-8eab-28d244961870')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'PT01           ', N'PHAN TAN 2022', N'CNTT    ', N'b7e29ea0-4adc-ec11-8eaa-e82aea9c428f')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'AVCB ', N'ANH VĂN CĂN BẢN', N'a3e29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL ', N'CƠ SỞ DỮ LIỆU', N'a6e29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CTDL ', N'CẤU TRÚC DỮ LIỆU', N'a4e29ea0-4adc-ec11-8eaa-e82aea9c428f')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MATKHAU], [MALOP], [rowguid]) VALUES (N'001     ', N'LÊ VĂN ', N'THÀNH', CAST(N'1985-03-06' AS Date), N'23/5 PHUNG KHAC KHOAN F3 Q3', N'123                      ', N'TH04           ', N'bfe29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MATKHAU], [MALOP], [rowguid]) VALUES (N'002     ', N'DAO TRONG', N'KHAI', CAST(N'1979-08-19' AS Date), N'15/72 LE VAN THO F8 GOVAP', N'123                      ', N'TH04           ', N'c0e29ea0-4adc-ec11-8eaa-e82aea9c428f')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MATKHAU], [MALOP], [rowguid]) VALUES (N'003     ', N'CAO TUAN', N'KHA', CAST(N'1985-12-06' AS Date), N'12/5 LE QUANG DINH F5 GO VAP', N'123                      ', N'TH04           ', N'c1e29ea0-4adc-ec11-8eaa-e82aea9c428f')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_TENLOP]    Script Date: 01/06/2022 10:27:51 am ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UN_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_TENMH]    Script Date: 01/06/2022 10:27:51 am ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [UN_TENMH] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGDIEM] ADD  CONSTRAINT [MSmerge_df_rowguid_057EC0CD038241DCAD29D9D09FAC0E69]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BODE] ADD  CONSTRAINT [MSmerge_df_rowguid_38AFFE043A494F03837FBEFAE2EF855D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[COSO] ADD  CONSTRAINT [MSmerge_df_rowguid_70E7331B747E43CC8319FF18BEB40524]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_BAITHI] ADD  CONSTRAINT [MSmerge_df_rowguid_0F7CF48DF4914A7DBB47F5455822D364]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_9C81B097C852419FA931C8D26452766F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_DC6811984DA843A194653F4176A02F97]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_F4D2206EDE60401E8F5655E832198965]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_72467AB989EC43AC855724195484AEC3]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_286E9ECB5A494377B4E8D0756EA8A74E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_372938537B544CCAA3EA10B1C6C5470D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN1] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN1]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [FK_BODE_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_GIAOVIEN]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [FK_BODE_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_MONHOC]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAITHI_BODE] FOREIGN KEY([CAUHOI])
REFERENCES [dbo].[BODE] ([CAUHOI])
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [FK_CT_BAITHI_BODE]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAITHI_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [FK_CT_BAITHI_MONHOC1]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAITHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [FK_CT_BAITHI_SINHVIEN]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_KHOA]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_KHOA_COSO] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_KHOA_COSO]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_LANTHI] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_LANTHI]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_BODE] CHECK  (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_BODE]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_DAPAN] CHECK  (([DAP_AN]='D' OR ([DAP_AN]='C' OR ([DAP_AN]='B' OR [DAP_AN]='A'))))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_DAPAN]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [CK_CT_BAITHI_DACHON] CHECK  (([DACHON]='A' OR [DACHON]='B' OR [DACHON]='C' OR [DACHON]='D' OR [DACHON]=''))
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [CK_CT_BAITHI_DACHON]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [CK_CT_BAITHI_LAN] CHECK  (([LAN]=(1) OR [LAN]=(2)))
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [CK_CT_BAITHI_LAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_LAN] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_LAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_SOCAUTHI] CHECK  (([SOCAUTHI]>=(10) AND [SOCAUTHI]<=(100)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_SOCAUTHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_THOIGIAN] CHECK  (([THOIGIAN]>=(15) AND [THOIGIAN]<=(60)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_THOIGIAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK  (([TRINHDO]='C' OR ([TRINHDO]='B' OR [TRINHDO]='A')))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_TRINHDO]
GO
/****** Object:  StoredProcedure [dbo].[MY_SP_LAY_CAUHOI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MY_SP_LAY_CAUHOI]
@maMonHoc NCHAR(5), @trinhDo NChar(1), @soCauCanLay int
AS
BEGIN
	DECLARE @trinhDo2 Nchar(1) = 'N'
	DECLARE @soCauCungTrinhDo int = -1
	DECLARE @soCauDuoiTrinhDo int = -1
	DECLARE @soCauCanLayTrinhDoDuoi int = -1
	if (@trinhDo = 'A') 
		set @trinhDo2 = 'B'
	else if (@trinhDo = 'B')
		set @trinhDo2 = 'C' 

	set @soCauCungTrinhDo = (select count(*) from BODE where (MAMH = @maMonHoc and TRINHDO = @trinhDo))
		--SELECT @soCauCungTrinhDo AS SOCAUCUNGTRINHDO
	
	if(@soCauCungTrinhDo >= @soCauCanLay) -- nếu có đủ câu cùng trình độ lấy luôn
		BEGIN
			SET ROWCOUNT @soCauCanLay
			SELECT * FROM BODE where (MAMH = @maMonHoc and TRINHDO = @trinhDo)
			ORDER BY NEWID()
			RETURN 1
		END
	else if(@soCauCungTrinhDo < @soCauCanLay*70/100)
		BEGIN
			RAISERROR(N'không đủ 70 phần trăm câu cùng trình độ', 16,1)
			RETURN -1
		END
	else if((@soCauCungTrinhDo > @soCauCanLay*70/100) and (@soCauCungTrinhDo < @soCauCanLay))
		BEGIN
		print(N'hơn 70 phần trăm nhưng dưới 100 phần trăm số câu')
			SET @soCauCanLayTrinhDoDuoi = @soCauCanLay - @soCauCungTrinhDo

			set @soCauDuoiTrinhDo = (select count(*) from BODE where (MAMH = @maMonHoc and TRINHDO = @trinhDo2))
			
			if(@soCauDuoiTrinhDo >= @soCauCanLayTrinhDoDuoi)
				BEGIN
	
	-- khi hooij mawcs looix The data type ntext cannot be used as an operand to the UNION, INTERSECT or EXCEPT operators because it is not comparable.
	-- => phai cast noi dung, abcd

			-- trường hợp đã lấy hết trình độ 1 vẫn ph lấy trình độ 2, thì trình độ 1 k random đâu
			--INSERT INTO #TMPCAUHOITRINHDO1 dungf kieeur nay thi bo into trong select
					SELECT CAUHOI, MAMH, TRINHDO, CAST(NOIDUNG as nvarchar(max)) NOIDUNG,CAST(A as nvarchar(max)) A,CAST(B as nvarchar(max)) B,CAST(C as nvarchar(max)) C,
			CAST(D as nvarchar(max)) D, DAP_AN  INTO #TMPCAUHOITRINHDO1 FROM BODE where (MAMH = @maMonHoc and TRINHDO = @trinhDo)
					ORDER BY NEWID()

					SET ROWCOUNT @soCauCanLayTrinhDoDuoi
				--INSERT INTO #TMPCAUHOITRINHDO2
					SELECT /*TOP (@soCauCanLayTrinhDoDuoi)*/ CAUHOI, MAMH, TRINHDO, CAST(NOIDUNG as nvarchar(max)) NOIDUNG,CAST(A as nvarchar(max)) A,CAST(B as nvarchar(max)) B,CAST(C as nvarchar(max)) C,
			CAST(D as nvarchar(max)) D, DAP_AN INTO #TMPCAUHOITRINHDO2 FROM BODE where (MAMH = @maMonHoc and TRINHDO = @trinhDo2)
							ORDER BY NEWID()
					-- dung doan lenh offset 0 rows vi ly do sau:
					-- The ORDER BY clause is invalid in views, inline functions, derived tables, subqueries, and common table expressions, unless TOP, OFFSET or FOR XML is also specified.
					SET ROWCOUNT @soCauCanLay
					SELECT * FROM (SELECT * FROM #TMPCAUHOITRINHDO1 
						ORDER BY NEWID() OFFSET 0 ROWS ) A 
					UNION ALL 
					SELECT * FROM (SELECT * FROM #TMPCAUHOITRINHDO2 ORDER BY NEWID() OFFSET 0 ROWS) B
					
					RETURN 1
				END
			else
				BEGIN
					RAISERROR(N'Không đủ số lượng câu hỏi trình độ dưới', 16, 2)
					RETURN -1
				END
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GHI_VAO_BANGDIEM]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GHI_VAO_BANGDIEM]
	@MASV nchar(8), --
	@MAMH nchar(5), --
	@LAN smallint,	--
	@NGAYTHI datetime,
	@DIEM float
AS
	IF EXISTS(SELECT MASV FROM BANGDIEM WHERE MASV=@MASV AND MAMH=@MAMH AND LAN=@LAN)
		RAISERROR('Sinh viên đã có điểm môn này', 16, 1)
	ELSE
		INSERT INTO BANGDIEM(MASV, MAMH, LAN, NGAYTHI, DIEM) VALUES (@MASV, @MAMH, @LAN, @NGAYTHI, @DIEM)
 
  

GO
/****** Object:  StoredProcedure [dbo].[SP_GOI_UDP_KTRA_GV_DANGKY_DATHI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
CREATE PROCEDURE [dbo].[SP_GOI_UDP_KTRA_GV_DANGKY_DATHI]
	@MALOP nchar(15), @MAMH char(5) 
AS
BEGIN
	DECLARE @DATHI nchar(1)
	SET @DATHI = dbo.UDF_KIEMTRA_GV_DANGKY_DATHI (@MALOP, @MAMH)

	SELECT @DATHI AS DATHI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_GIAOVIEN_DANGKY_DATONTAI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_GIAOVIEN_DANGKY_DATONTAI] 
	@MALOP nchar(15),
	@MAMH char(5),
	@LAN smallint,
	@NGAYTHI datetime
AS
	--check xem đợt này thi chưa
	IF (exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN) 
	OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH = @MAMH AND LAN = @LAN)) 
			BEGIN
				RAISERROR ('Đợt thi này đã tồn tại', 16, 1)
				RETURN
			END
	-- chưa tìm ra cách để thay điều kiện bên dưới vì dính lỗi cannot continue, 
	-- nếu sửa đc sẽ sửa đk thành IF @LAN = 2 AND NOT..
	-- không hiểu sao nếu trong điều kiện if k có @lần= thì sẽ gặp lỗi Cannot continue the execution because the session is in the kill state.
	-- và để chỉ kiểm tra điều kiện đằng sau (có lần thi 1) có đúng hay k, ta cho trước or là chắc chắn false
	-- nếu chưa thi, thì xem đã thi lần 1 hay là chưa
	ELSE /*IF((@LAN=10) OR NOT(exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1) 
		OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1))) 
		BEGIN
			RAISERROR ('Đợt thi này chưa thi lần 1, không thể đăng kí thi lần 2', 16, 2)
			RETURN
		END*/
		IF(@LAN=2)
			BEGIN
				--PRINT ('lan2')
				IF((exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1) 
			OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1))) 
					BEGIN
						--Print (N'Đợt thi này đã thi lần 1, tiến hành kiểm tra ngày thi đợt 2 > ngày đợt 1 + 7 ngày?')
						--lấy ngày thi đợt 1
						DECLARE @NGAYTHIDOT1 datetime
						SET @NGAYTHIDOT1=
						(SELECT NGAYTHI FROM dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1
								UNION SELECT NGAYTHI FROM LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1)
		
						--PRINT ('Ngày thi đợt 1 :' + FORMAT (@NGAYTHIDOT1, 'dd/MM/yyyy'))

						DECLARE @MESSAGE nvarchar(100)
						SET @MESSAGE = CONCAT(N'Đợt 2 phải thi sau đợt 1: ', FORMAT (@NGAYTHIDOT1, 'dd/MM/yyyy') , N' ít nhất 1 tuần')
						-- kiểm tra ngày thi đợt 2 có > đợt 1 + 7 ngày
						IF(@NGAYTHI < DATEADD(DAY, 7, @NGAYTHIDOT1))-- nếu ngày thi đợt 2 không sau đợt 1 ít nhất 1 tuần
							BEGIN
								RAISERROR ( @MESSAGE , 16, 3)
							RETURN
							END
						--ELSE 
							--PRINT(N'Ngày thi đợt 2 hợp lệ')
						RETURN
					END
				ELSE
					RAISERROR ('Đợt thi này chưa thi lần 1, không thể đăng kí thi lần 2', 16, 2)
			END



GO
/****** Object:  StoredProcedure [dbo].[SP_KT_GIAOVIEN_DATONTAI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_GIAOVIEN_DATONTAI] 
	@MAGV char(8)
AS
	IF  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV = @MAGV)
   		RAISERROR ('Mã giáo viên đã tồn tại, vui lòng nhập mã khác', 16, 1)

	--IF  exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH)
	--	RAISERROR ('Tên môn học đã tồn tại, vui lòng nhập tên khác', 16, 2)


GO
/****** Object:  StoredProcedure [dbo].[SP_KT_KHOA_DATONTAI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_KHOA_DATONTAI] 
	@MAKH char(8),
	@TENKH nvarchar(50),
	@CHEDOCHECK nchar(10)
AS
	--EXEC SP_KT_KHOA_DATONTAI 'VT2', N'Công nghệ thông tin', 'KTRATHEM'
	IF(@CHEDOCHECK='KTRATHEM')
	-- nếu thêm thì mã khoa ph chưa tồn tại ở 2 site, cộng thêm tên khoa cũng k đc trùng
		BEGIN 
			IF (EXISTS(SELECT MAKH FROM KHOA WHERE MAKH=@MAKH) 
				OR EXISTS (SELECT MAKH FROM LINK1.TN_CSDLPT.dbo.KHOA WHERE MAKH=@MAKH))
				RAISERROR('Mã khoa đã tồn tại', 16, 1) 
			IF(EXISTS (SELECT MAKH FROM KHOA WHERE TENKH=@TENKH) 
				OR EXISTS (SELECT MAKH FROM LINK1.TN_CSDLPT.dbo.KHOA WHERE TENKH=@TENKH))
				RAISERROR('Tên khoa đã tồn tại', 16, 2)
		END
	ELSE --@CHEDOCHECK='KTRASUA'
	-- nếu sửa thì nếu mã giống tên giống thì hợp lệ (không sửa chính nó nhưng vẫn lưu)
	-- nếu có mã khoa khác trùng tên khoa thì không hợp lí, ta bắt lỗi này
		BEGIN
			IF(EXISTS (SELECT TENKH FROM KHOA WHERE MAKH<>@MAKH AND TENKH=@TENKH ) 
				OR EXISTS (SELECT TENKH FROM LINK1.TN_CSDLPT.dbo.KHOA WHERE MAKH<>@MAKH AND TENKH=@TENKH))
				RAISERROR('Tên khoa muốn sửa trùng với khoa khác', 16, 2)
		END

GO
/****** Object:  StoredProcedure [dbo].[SP_KT_LOP_DATONTAI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_LOP_DATONTAI] 
	@MALOP nchar(15),
	@TENLOP nvarchar(50),
	@MAKH nchar(8),
	@CHEDOCHECK nchar(10)
AS
	--EXEC SP_KT_LOP_DATONTAI 'TH06', N'TIN HOC 2006','CNTT', 'KTRATHEM'
	IF(@CHEDOCHECK='KTRATHEM')
	-- nếu thêm thì mã lớp ph chưa tồn tại ở 2 site, cộng thêm tên lớp cũng k đc trùng
		BEGIN 
			IF (EXISTS(SELECT MALOP FROM LINK2.TN_CSDLPT.dbo.LOP WHERE MALOP=@MALOP))
				RAISERROR('Mã lớp đã tồn tại', 16, 1) 
			IF(EXISTS (SELECT MALOP FROM LINK2.TN_CSDLPT.dbo.LOP WHERE TENLOP=@TENLOP))
				RAISERROR('Tên lớp đã tồn tại', 16, 2)
		END
	ELSE --@CHEDOCHECK='KTRASUA'
	-- nếu sửa thì nếu mã giống tên giống thì hợp lệ (không sửa chính nó nhưng vẫn lưu)
	-- nếu có mã khác trùng tên thì không hợp lí, ta bắt lỗi này
		BEGIN
			IF(EXISTS (SELECT MALOP FROM LINK2.TN_CSDLPT.dbo.LOP WHERE MALOP<>@MALOP AND TENLOP=@TENLOP))
				RAISERROR('Tên lớp muốn sửa đã tồn tại', 16, 2)
		END

GO
/****** Object:  StoredProcedure [dbo].[SP_KT_MONHOC_DATONTAI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_MONHOC_DATONTAI] 
	@MAMH nchar(5),
	@TENMH nvarchar(50),
	@CHEDOCHECK nchar(10)
AS

	IF(@CHEDOCHECK='KTRATHEM')
	-- nếu thêm thì mã môn ph chưa tồn tại cộng thêm tên khoa cũng k đc trùng
		BEGIN 
			IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   				RAISERROR ('Mã môn học đã tồn tại, vui lòng nhập mã khác', 16, 1)
			IF  exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH)
				RAISERROR ('Tên môn học đã tồn tại, vui lòng nhập tên khác', 16, 2)
		END
	ELSE --@CHEDOCHECK='KTRASUA'
	-- nếu thêm thì nếu mã giống tên giống thì hợp lệ (không sửa chính nó nhưng vẫn lưu)
	-- nếu có mã môn khác trùng tên môn thì không hợp lí, ta bắt lỗi này
		BEGIN
			IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH <> @MAMH AND TENMH=@TENMH)
   				RAISERROR ('Tên môn muốn sửa đã tồn tại, vui lòng nhập tên khác', 16, 2)
		END
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_SINHVIEN_DATHI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_SINHVIEN_DATHI] 
	@MASV char(8),
	@MAMH char(5),
	@LAN smallint
AS
	--check xem sinh viên đã thi môn này chưa
	IF (exists(SELECT MASV FROM  dbo.BANGDIEM WHERE MASV = @MASV AND MAMH=@MAMH AND LAN = @LAN) 
	OR exists(SELECT MASV FROM  LINK1.TN_CSDLPT.dbo.BANGDIEM WHERE MASV = @MASV AND MAMH = @MAMH AND LAN = @LAN))
		RAISERROR('Bạn đã thi môn này rồi', 16, 1)
	


GO
/****** Object:  StoredProcedure [dbo].[SP_KT_SINHVIEN_DATONTAI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_SINHVIEN_DATONTAI] 
	@MASV char(8)
	
AS
	--EXEC [SP_KT_SINHVIEN_DATONTAI] '002'
	
	-- nếu thêm thì mã sinh viên ph chưa tồn tại ở site tra cứu
			IF (EXISTS(SELECT MASV FROM LINK2.TN_CSDLPT.dbo.SINHVIEN WHERE MASV=@MASV))
				RAISERROR('Mã sinh viên đã tồn tại', 16, 1) 



GO
/****** Object:  StoredProcedure [dbo].[SP_KT_SUA_GIAOVIEN_DANGKY]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_SUA_GIAOVIEN_DANGKY] 
	@MALOP nchar(15),
	@MAMH char(5),
	@LAN smallint,
	@NGAYTHI datetime
AS
	--check xem đợt này thi chưa
		IF(@LAN=2)
			BEGIN
				--PRINT ('lan2')
					IF((exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1) 
				OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1))) 
						BEGIN
							--Print (N'Đợt thi này đã thi lần 1, tiến hành kiểm tra ngày thi đợt 2 > ngày đợt 1 + 7 ngày?')
							--lấy ngày thi đợt 1
							DECLARE @NGAYTHIDOT1 datetime
							SET @NGAYTHIDOT1=
							(SELECT NGAYTHI FROM dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1
									UNION SELECT NGAYTHI FROM LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1)
		
							--PRINT ('Ngày thi đợt 1 :' + FORMAT (@NGAYTHIDOT1, 'dd/MM/yyyy'))

							DECLARE @MESSAGE nvarchar(100)
							SET @MESSAGE = CONCAT(N'Đợt 2 phải thi sau đợt 1: ', FORMAT (@NGAYTHIDOT1, 'dd/MM/yyyy') , N' ít nhất 1 tuần')
							-- kiểm tra ngày thi đợt 2 có > đợt 1 + 7 ngày
							IF(@NGAYTHI < DATEADD(DAY, 7, @NGAYTHIDOT1))-- nếu ngày thi đợt 2 không sau đợt 1 ít nhất 1 tuần
								BEGIN
									RAISERROR ( @MESSAGE , 16, 3)
								RETURN
								END
							--ELSE 
								--PRINT(N'Ngày thi đợt 2 hợp lệ')
							RETURN
						END
					ELSE
						RAISERROR ('Đợt thi này chưa thi lần 1, không thể đăng kí thi lần 2', 16, 2)
			END
	
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_XOA_GIAOVIEN_DANGKY]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_XOA_GIAOVIEN_DANGKY] 
	@MALOP nchar(15),
	@MAMH char(5),
	@LAN smallint,
	@NGAYTHI datetime
AS
	--check xem đợt này thi chưa
		IF(@LAN=1)
			BEGIN
				--PRINT ('lan2')
					IF ((exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 2) 
				OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 2))) 
						RAISERROR ('Đợt thi này đã đăng ký lần 2, không thể xóa lần 1 này	', 16, 2)
			END
	
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_GIAOVIEN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_GIAOVIEN]
AS
--DECLARE @TENMH
	SELECT MAGV, HOTEN = CONCAT(TRIM(MAGV), ' - ',  CONCAT(TRIM(HO),' ',TRIM(TEN))) FROM GIAOVIEN


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_KHOA]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_KHOA] 
AS
--DECLARE @TENMH
	SELECT MAKH, TENKH = CONCAT(TRIM(MAKH), ' - ', TRIM(TENKH)) FROM KHOA


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LOP]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_LOP] 
AS
--DECLARE @TENMH
	SELECT MALOP, TENLOP = CONCAT(TRIM(MALOP), ' - ', TRIM(TENLOP)) FROM LOP


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_MONHOC]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_MONHOC] 
AS
--DECLARE @TENMH
	SELECT MAMH, TENMH = CONCAT(TRIM(MAMH), ' - ', TRIM(TENMH)) FROM MONHOC


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_STT_CAUHOI_TIEPTHEO]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROC [dbo].[SP_LAY_STT_CAUHOI_TIEPTHEO]
AS
 SELECT MAX(CAUHOI)+1 AS NEXTID FROM BODE
 
  

GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TT_GIANGVIEN_LOGIN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROC [dbo].[SP_LAY_TT_GIANGVIEN_LOGIN]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM dbo.GIAOVIEN  WHERE MAGV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE 
   UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS 
							WHERE MEMBERUID = (SELECT UID FROM sys.sysusers WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TT_SV]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_TT_SV]
@MASV NCHAR (8),
@MATKHAU NCHAR(25)
AS
 SELECT @MASV AS MASV, 
  HOTEN = HO+ ' '+ TEN, LOP.MALOP, TENLOP  FROM dbo.SINHVIEN, LOP  WHERE MASV = @MASV AND MATKHAU=@MATKHAU AND LOP.MALOP = SINHVIEN.MALOP
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYCAUHOI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROC [dbo].[SP_LAYCAUHOI]
@maMonHoc NCHAR(5), @trinhDo NChar(1), @soCau int
AS
BEGIN
	DECLARE @trinhDo2 Nchar(1) = 'N'
	DECLARE @countQuestion int = 0
	DECLARE @countQuestionCungTrinhDo int = 0
	DECLARE @countQuestionTrinhDoDuoi int = 0
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEM_MONHOC]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_BANGDIEM_MONHOC]
	@MALOP nchar(15),
	@MAMH char(5),
	@LAN smallint
AS
BEGIN

	-- dùng user define function để lấy điểm chữ từ điểm số
	SELECT * FROM 
	(SELECT MASV, HO, TEN FROM SINHVIEN WHERE MALOP=@MALOP) AS SINHVIEN
	INNER JOIN (SELECT MASV, DIEM, DIEM_CHU = dbo.UDF_LAY_DIEMCHU_TU_DIEMSO (DIEM)  
		FROM BANGDIEM WHERE MAMH=@MAMH AND LAN=@LAN) AS BANGDIEM ON SINHVIEN.MASV = BANGDIEM.MASV
	ORDER BY TEN
END

DECLARE @A FLOAT=6.5
PRINT dbo.UDF_LAY_DIEMCHU_TU_DIEMSO (@A)
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEM_MONHOC_THONGTIN_LOPMON]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_BANGDIEM_MONHOC_THONGTIN_LOPMON]
	@MALOP nchar(15),
	@MAMH char(5),
	@LAN smallint
AS
BEGIN
	SELECT * FROM 
		(SELECT MALOP, TENLOP FROM LOP WHERE MALOP=@MALOP) AS LOP,
		(SELECT MAMH, TENMH FROM MONHOC WHERE MAMH=@MAMH) AS MONHOC 
			WHERE LOP.MALOP = @MALOP AND MONHOC.MAMH = @MAMH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DS_DANGKY_THI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_DS_DANGKY_THI]
	@TUNGAY datetime,
	@DENNGAY datetime
AS
BEGIN
--chỉ có 1 tên cơ sở trong bảng cơ sở nên
	DECLARE @TENCS nvarchar(50)
	SET @TENCS = (SELECT TENCS FROM COSO)

	SELECT TENLOP, TENMH, HOTEN AS GIAOVIENDANGKY, SOCAUTHI
	, NGAYTHI = FORMAT(NGAYTHI, 'dd/MM/yyyy'), DATHI, GHICHU, @TENCS AS TENCS FROM
		(SELECT MALOP, TENLOP FROM LOP) AS LOP 
		INNER JOIN 
		(SELECT MALOP, MAGV, MAMH, 
			SOCAUTHI, NGAYTHI, dbo.UDF_KIEMTRA_GV_DANGKY_DATHI (MALOP, MAMH) AS DATHI, '' AS GHICHU FROM GIAOVIEN_DANGKY) 
			AS GIAOVIEN_DANGKY ON GIAOVIEN_DANGKY.MALOP = LOP.MALOP
		INNER JOIN
		(SELECT MAMH, TENMH FROM MONHOC) AS MONHOC ON  GIAOVIEN_DANGKY.MAMH = MONHOC.MAMH
		INNER JOIN
		(SELECT MAGV, HOTEN=CONCAT(HO,' ', TEN) FROM GIAOVIEN) AS GIAOVIEN ON  GIAOVIEN_DANGKY.MAGV = GIAOVIEN.MAGV
		WHERE  cast(NGAYTHI as DATE) >= @TUNGAY AND cast(NGAYTHI AS DATE) <= @DENNGAY
		-- cast thành dạng date để k phải so sánh giờ

END


GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DS_DANGKY_THI_2_COSO]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_DS_DANGKY_THI_2_COSO] @TUNGAY datetime,
	@DENNGAY datetime
AS
BEGIN
	CREATE TABLE #DSDK_CS_NAY
	(
		TENLOP nvarchar(50),
		TENMH  nvarchar(50),
		GIAOVIENDANGKY nvarchar(60),
		SOCAUTHI smallint,
		NGAYTHI nvarchar(15),
		DATHI nchar(1),
		GHICHU nvarchar(20),
		TENCS nvarchar(50)
	)
	CREATE TABLE #DSDK_CS_KIA
	(
		TENLOP nvarchar(50),
		TENMH  nvarchar(50),
		GIAOVIENDANGKY nvarchar(60),
		SOCAUTHI smallint,
		NGAYTHI nvarchar(15),
		DATHI nchar(1),
		GHICHU nvarchar(20),
		TENCS nvarchar(50)
	)
	--CREATE TABLE #DSDK_ALL
	--(
	--	TENLOP nvarchar(50),
	--	TENMH  nvarchar(50),
	--	GIAOVIENDANGKY nvarchar(60),
	--	SOCAUTHI smallint,
	--	NGAYTHI nvarchar(15),
	--	DATHI nchar(1),
	--	GHICHU nvarchar(20),
	--	TENCS nvarchar(50)
	--)
	INSERT #DSDK_CS_NAY EXEC [SP_REPORT_DS_DANGKY_THI] @TUNGAY, @DENNGAY
	INSERT #DSDK_CS_KIA EXEC LINK1.TN_CSDLPT.dbo.[SP_REPORT_DS_DANGKY_THI] @TUNGAY, @DENNGAY

	--IF OBJECT_ID(N'dbo.DSDK_2COSO', N'U') IS NOT NULL  
	--	DROP TABLE [dbo].DSDK_2COSO;  
	 
	DELETE FROM [dbo].DSDK_2COSO

	SELECT X.* INTO #DSDK_ALL FROM
			(SELECT * FROM  #DSDK_CS_NAY 
					UNION 
			SELECT * FROM #DSDK_CS_KIA) AS X
			

	INSERT INTO DSDK_2COSO (TENLOP, TENMH, GIAOVIENDANGKY, SOCAUTHI
	,NGAYTHI, DATHI, GHICHU, TENCS)
	SELECT TENLOP, TENMH, GIAOVIENDANGKY, SOCAUTHI
	,NGAYTHI, DATHI, GHICHU, TENCS FROM #DSDK_ALL;
	
	SELECT TENLOP, TENMH, GIAOVIENDANGKY, SOCAUTHI
	,NGAYTHI, DATHI, GHICHU, TENCS FROM DSDK_2COSO
	ORDER BY NGAYTHI ASC

END


GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_KETQUATHI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_REPORT_KETQUATHI]
	@MASV char(8),
	@MAMH char(5),
	@LAN smallint
AS
BEGIN
	SELECT * FROM 
	(SELECT CAUHOI, NOIDUNG, DAP_AN, LUACHON = concat(concat('A. ' , A),';',concat('B. ' , B),';',concat('C. ' , C),';',concat('D. ' , D)) FROM BODE) AS BODE
	INNER JOIN CT_BAITHI ON CT_BAITHI.CAUHOI = BODE.CAUHOI WHERE MASV=@MASV AND CT_BAITHI.MAMH=@MAMH AND LAN=@LAN
	ORDER BY CAUSO
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_KETQUATHI_THONGTIN_SINHVIEN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_KETQUATHI_THONGTIN_SINHVIEN]
	@MASV char(8),
	@MAMH char(5),
	@LAN smallint
AS
BEGIN
	-- có thể sẽ phải kết thêm bảng giáo viên đăng kí để lấy ngày thi, vấn đề là nó có thể bị trùng 
	--do  khóa chính của gv đăng kí có ma mon hoc, lan, ma lớp, nên mã lớp khác có thể môn lần giống, sẽ cho ra nhiều ngày thi

	DECLARE @DATHI char(1) = '' 
	IF(EXISTS (SELECT MASV FROM BANGDIEM WHERE MASV=@MASV AND MAMH=@MAMH AND LAN=@LAN))
		SET @DATHI = 'X'
	SELECT TENLOP, HOTEN, @DATHI AS DATHI FROM 
	--chiếu mã lớp, họ tên, chọn masv=@masv trước, r mới kết với lớp sau (tối ưu truy vấn)
	(SELECT MALOP, HOTEN = CONCAT(HO, ' ', TEN) FROM SINHVIEN WHERE MASV=@MASV ) AS SINHVIEN
	INNER JOIN (SELECT MALOP, TENLOP FROM LOP) AS LOP ON LOP.MALOP = SINHVIEN.MALOP 
	
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_CAUHOI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SUA_CAUHOI]
	@idCauHoi int,
	@MAMH char(5),
	@TRINHDO char(1),
	@NOIDUNG ntext,
	@A ntext,
	@B ntext,
	@C ntext,
	@D ntext,
	@DAP_AN char(1),
	@MAGV char(8)
AS
	--IF  exists(SELECT CAUHOI FROM  dbo.BODE WHERE CAUHOI = @idCauHoi)
   	--	RAISERROR ('Mã câu hỏi đã tồn tại', 16, 1)
		-- có nên check thêm điều kiện cùng nội dung cùng mã môn mới là trùng câu?
	--ELSE 
	-- khi sửa thì xem có câu hỏi nào khác id trùng nội dung k
	IF  exists(SELECT NOIDUNG FROM  dbo.BODE WHERE 
	cast(NOIDUNG as nvarchar(max)) = cast(@NOIDUNG as nvarchar(max)) AND CAUHOI<>@idCauHoi) 
   		RAISERROR ('Câu hỏi đã tồn tại', 16, 1)
	 
		UPDATE dbo.BODE SET MAMH=@MAMH, TRINHDO=@TRINHDO, NOIDUNG=@NOIDUNG
		, A=@A, B=@B, C=@C, D=@D, DAP_AN=@DAP_AN, MAGV=@MAGV WHERE CAUHOI=@idCauHoi
	SELECT @idCauHoi AFFECTED_ID	-- lấy id vừa suwar 
 
 
  

GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_GIAOVIEN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_GIAOVIEN]
  @MAGV nchar(5),
  @HO nvarchar(50),
  @TEN nvarchar(10),
  @DIACHI nvarchar(50),
  @MAKH nchar(8)
AS
	--IF  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV = @MAGV)
   	--	RAISERROR ('Mã giáo viên đã tồn tại, vui lòng nhập mã khác', 16, 1)
	--ELSE 
	--vì giáo viên nhân bản, khoa lại không, nên khi sửa giáo viên ở site khác, ở phía code ta k cho chỉnh
	-- sửa mã khoa, bên sp ta không chekc khóa ngoại lúc sửa, lúc sửa xong lại check
	ALTER TABLE dbo.GIAOVIEN  
	NOCHECK CONSTRAINT FK_GIAOVIEN_KHOA; 

		UPDATE dbo.GIAOVIEN SET MAGV=@MAGV, HO=@HO, TEN=@TEN, DIACHI=@DIACHI , MAKH=@MAKH WHERE MAGV=@MAGV
	SELECT @MAGV AFFECTED_ID	-- lấy id vừa sửa 

	ALTER TABLE dbo.GIAOVIEN 
	CHECK CONSTRAINT FK_GIAOVIEN_KHOA; 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_GIAOVIEN_DANGKY]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_GIAOVIEN_DANGKY]
	@MAGV char(8),
	@MAMH char(5),
	@MALOP nchar(15),
	@TRINHDO char(1),
	@NGAYTHI datetime,
	@LAN smallint,
	@SOCAUTHI smallint,
	@THOIGIAN smallint
AS
--undo xóa
		
	--IF  (exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN) 
	--OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN)) 
   	--	RAISERROR ('Đợt thi này đã tồn tại, không thể phục hồi', 16, 1)
	--ELSE
	--BEGIN
		UPDATE dbo.GIAOVIEN_DANGKY SET MAGV=@MAGV, TRINHDO=@TRINHDO, NGAYTHI=@NGAYTHI, SOCAUTHI=@SOCAUTHI, THOIGIAN=@THOIGIAN 
			WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN
		SELECT @MALOP AFFECTED_ID	-- lấy id vừa sửa
			,@MAMH AFFECTED_MAMH, @MALOP AFFECTED_MALOP, @LAN AFFECTED_LAN
	--END
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_GIAOVIEN_IGNORE_FK]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_GIAOVIEN_IGNORE_FK]
  @MAGV nchar(5),
  @HO nvarchar(50),
  @TEN nvarchar(10),
  @DIACHI nvarchar(50),
  @MAKH nchar(8)
AS
	-- phải ignore khóa ngoại vì khoa không nhân bản
	--IF  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV = @MAGV)
   	--	RAISERROR ('Mã giáo viên đã tồn tại, vui lòng nhập mã khác', 16, 1)
	--ELSE 
	ALTER TABLE dbo.GIAOVIEN  
	NOCHECK CONSTRAINT FK_GIAOVIEN_KHOA; 

		UPDATE dbo.GIAOVIEN SET HO=@HO, TEN=@TEN, DIACHI=@DIACHI , MAKH=@MAKH WHERE MAGV=@MAGV
	SELECT @MAGV AFFECTED_ID	-- lấy id vừa sửa 

	ALTER TABLE dbo.GIAOVIEN 
	CHECK CONSTRAINT FK_GIAOVIEN_KHOA; 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_KHOA]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_KHOA]
  @MAKH char(8),
  @TENKH nvarchar(50)
  --,
  --@MACS nchar(3) không cần mã cơ sở vì bên code cũng k cho sửa mã cơ sở mà
AS
	--IF  exists(SELECT @MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
   	--	RAISERROR ('Mã khoa đã tồn tại, không thể phục hồi', 16, 1)
	--ELSE 
		UPDATE dbo.KHOA SET TENKH=@TENKH WHERE MAKH=@MAKH
	SELECT @MAKH AFFECTED_ID	-- lấy id vừa sửa 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_LOP]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_LOP]
	@MALOP nchar(15),
	@TENLOP nvarchar(50),
	@MAKH nchar(8)
  --,
  --@MACS nchar(3) không cần mã cơ sở vì bên code cũng k cho sửa mã cơ sở mà
AS
	--IF  exists(SELECT @MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
   	--	RAISERROR ('Mã khoa đã tồn tại, không thể phục hồi', 16, 1)
	--ELSE 
		UPDATE dbo.LOP SET TENLOP=@TENLOP, MAKH=@MAKH WHERE MALOP=@MALOP
	SELECT @MALOP AFFECTED_ID	-- lấy id vừa sửa
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_MONHOC]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_MONHOC]
  @MAMH nchar(5),
  @TENMH nvarchar(50)
AS
	--IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   	--	RAISERROR ('Mã môn học đã tồn tại, vui lòng nhập mã khác', 16, 1)
	--ELSE 
		UPDATE dbo.MONHOC  SET TENMH = @TENMH WHERE MAMH=@MAMH
		SELECT @MAMH AFFECTED_ID


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_SINHVIEN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_SINHVIEN]
	@MASV char(8),
	@HO nvarchar(50),
	@TEN nvarchar(10),
	@NGAYSINH date,
	@DIACHI nvarchar(100),
	@MATKHAU char(25),
	@MALOP nchar(15)
AS

		UPDATE dbo.SINHVIEN SET HO=@HO, TEN=@TEN, NGAYSINH=@NGAYSINH, DIACHI=@DIACHI, MATKHAU=@MATKHAU, MALOP = @MALOP WHERE MASV = @MASV
		SELECT @MASV AFFECTED_ID	-- lấy id vừa sửa 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'TN_CSDLPT'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE= 'TRUONG' OR @ROLE= 'COSO'
  BEGIN 
    EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
    EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
  END
RETURN 0  -- THANH CONG
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CAUHOI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_CAUHOI]
	@idCauHoi int,
	@MAMH char(5),
	@TRINHDO char(1),
	@NOIDUNG ntext,
	@A ntext,
	@B ntext,
	@C ntext,
	@D ntext,
	@DAP_AN char(1),
	@MAGV char(8)
AS
	IF  exists(SELECT CAUHOI FROM  dbo.BODE WHERE CAUHOI = @idCauHoi)
   		RAISERROR ('Mã câu hỏi đã tồn tại', 16, 1)
		-- có nên check thêm điều kiện cùng nội dung cùng mã môn mới là trùng câu?
	ELSE IF  exists(SELECT NOIDUNG FROM  dbo.BODE WHERE cast(NOIDUNG as nvarchar(max)) = cast(@NOIDUNG as nvarchar(max))) 
   		RAISERROR ('Câu hỏi đã tồn tại', 16, 2)
	ELSE 
		INSERT INTO dbo.BODE (CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV) 
						VALUES(@idCauHoi, @MAMH, @TRINHDO, @NOIDUNG, @A, @B, @C, @D, @DAP_AN, @MAGV)
	SELECT @idCauHoi AFFECTED_ID	-- lấy id vừa thêm 
 
 
  

GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_GIAOVIEN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_GIAOVIEN]
  @MAGV nchar(5),
  @HO nvarchar(50),
  @TEN nvarchar(10),
  @DIACHI nvarchar(50),
  @MAKH nchar(8)
AS
	IF  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV = @MAGV)
   		RAISERROR ('Mã giáo viên đã tồn tại, vui lòng nhập mã khác', 16, 1)
	ELSE 
		INSERT INTO dbo.GIAOVIEN (MAGV, HO, TEN, DIACHI, MAKH) VALUES(@MAGV, @HO, @TEN, @DIACHI, @MAKH)
	SELECT @MAGV AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_GIAOVIEN_DANGKY]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_GIAOVIEN_DANGKY]
	@MAGV char(8),
	@MAMH char(5),
	@MALOP nchar(15),
	@TRINHDO char(1),
	@NGAYTHI datetime,
	@LAN smallint,
	@SOCAUTHI smallint,
	@THOIGIAN smallint
AS
--undo xóa
		
	IF  (exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN) 
	OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN)) 
   		RAISERROR ('Đợt thi này đã tồn tại, không thể phục hồi', 16, 1)
	ELSE
	BEGIN
		INSERT INTO dbo.GIAOVIEN_DANGKY (MAGV, MAMH, MALOP, TRINHDO, NGAYTHI, LAN, SOCAUTHI, THOIGIAN) VALUES(@MAGV, @MAMH, @MALOP, @TRINHDO, @NGAYTHI, @LAN, @SOCAUTHI, @THOIGIAN)
		SELECT @MALOP AFFECTED_ID	-- lấy id vừa thêm 
			,@MAMH AFFECTED_MAMH, @MALOP AFFECTED_MALOP, @LAN AFFECTED_LAN
	END
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_KHOA]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_KHOA]
  @MAKH char(8),
  @TENKH nvarchar(50),
  @MACS nchar(3)
AS
	IF  exists(SELECT MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
   		RAISERROR ('Mã khoa đã tồn tại, không thể phục hồi', 16, 1)
	ELSE 
		INSERT INTO dbo.KHOA (MAKH, TENKH, MACS) VALUES(@MAKH, @TENKH, @MACS)
	SELECT @MAKH AFFECTED_ID	-- lấy id vừa thêm 

GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_LOP]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_LOP]
	@MALOP nchar(15),
	@TENLOP nvarchar(50),
	@MAKH nchar(8)
AS
	IF  exists(SELECT MALOP FROM  dbo.LOP WHERE MALOP = @MALOP)
   		RAISERROR ('Mã lớp đã tồn tại, không thể phục hồi', 16, 1)
	ELSE 
		INSERT INTO dbo.LOP (MALOP, TENLOP, MAKH) VALUES(@MALOP, @TENLOP, @MAKH)
	SELECT @MALOP AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_MONHOC]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_MONHOC]
  @MAMH nchar(5),
  @TENMH nvarchar(50)
AS
	IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   		RAISERROR ('Mã môn học đã tồn tại, vui lòng nhập mã khác', 16, 1)
	ELSE 
		INSERT INTO dbo.MONHOC (MAMH, TENMH) VALUES(@MAMH, @TENMH)
	SELECT @MAMH AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_SINHVIEN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_SINHVIEN]
	@MASV char(8),
	@HO nvarchar(50),
	@TEN nvarchar(10),
	@NGAYSINH date,
	@DIACHI nvarchar(100),
	@MATKHAU nchar(25),
	@MALOP nchar(15)
AS
	IF (EXISTS(SELECT MASV FROM SINHVIEN WHERE MASV=@MASV) 
				OR EXISTS (SELECT MASV FROM LINK1.TN_CSDLPT.dbo.SINHVIEN WHERE MASV=@MASV))
		RAISERROR('Mã sinh viên đã tồn tại, không thể phục hồi',16,1)
	ELSE 
		INSERT INTO dbo.SINHVIEN (MASV, HO, TEN, NGAYSINH, DIACHI, MATKHAU, MALOP) VALUES(@MASV, @HO, @TEN,@NGAYSINH,@DIACHI,@MATKHAU,@MALOP)
		SELECT @MASV AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_MONTHI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TIM_MONTHI]
--thêm mã sinh viên để chỉ lấy ra những dòng có lớp của sinh viên đó trong table giaovien_dangky
	@MASV char(8),
	@MAMH char(5),
	@NGAYTHI datetime,
	@LAN smallint
AS
	-- tối ưu hóa truy vấn = cách khỏi kết với bảng lớp
	DECLARE @MALOP nchar(15) = (SELECT MALOP FROM SINHVIEN WHERE MASV = @MASV)
	SELECT @MAMH AS MAMH, @NGAYTHI AS NGAYTHI, @LAN AS LAN, SOCAUTHI, TRINHDO, THOIGIAN
		FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH 
									AND DATEDIFF(day, NGAYTHI, @NGAYTHI)=0 
									AND LAN = @LAN
									AND MALOP = @MALOP
	 

GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_MONTHI_GVTHITHU]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TIM_MONTHI_GVTHITHU]
-- giáo viên tìm để thi thử
	@MAMH char(5),
	@NGAYTHI datetime,
	@LAN smallint
AS
	SELECT @MAMH AS MAH, @NGAYTHI AS NGAYTHI, @LAN AS LAN, SOCAUTHI, TRINHDO, THOIGIAN
		FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH 
									AND DATEDIFF(day, NGAYTHI, @NGAYTHI)=0 
									AND LAN = @LAN
									
	 

GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_CAUHOI]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_CAUHOI]
  @idCauHoi int
AS
		DELETE FROM dbo.BODE WHERE CAUHOI=@idCauHoi
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_GIAOVIEN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_GIAOVIEN]
  @MAGV char(8)
AS
		DELETE FROM dbo.GIAOVIEN WHERE MAGV=@MAGV
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_GIAOVIEN_DANGKY]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_GIAOVIEN_DANGKY]
  @MAMH char(5),
  @MALOP nchar(15),
  @LAN smallint
AS
--undo thêm
		DELETE FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND MALOP = @MALOP AND LAN = @LAN
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_KHOA]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_KHOA]
  @MAKH char(8)
AS
	--IF  exists(SELECT @MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
   	--	RAISERROR ('Mã khoa đã tồn tại, không thể phục hồi', 16, 1)
	--ELSE 
		DELETE FROM KHOA WHERE MAKH=@MAKH
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_LOP]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_LOP]
  @MALOP nchar(15)
AS
--undo thêm
		DELETE FROM LOP WHERE MALOP=@MALOP
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_MONHOC]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_MONHOC]
  @MAMH nchar(5)
AS
	--IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   	--	RAISERROR ('Mã môn học đã tồn tại, vui lòng nhập mã khác', 16, 1)
	--ELSE 
		DELETE FROM dbo.MONHOC WHERE MAMH=@MAMH
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_SINHVIEN]    Script Date: 01/06/2022 10:27:51 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_SINHVIEN]
  @MASV char(8)
AS
--undo thêm
		DELETE FROM SINHVIEN WHERE MASV=@MASV
	
	


GO
