USE [TN_CSDLPT]
GO
/****** Object:  User [HTKN]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [sv_dungchung]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE USER [sv_dungchung] FOR LOGIN [sv_dungchung] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TH002]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE USER [TH002] FOR LOGIN [vengian_giangvien] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TH101]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE USER [TH101] FOR LOGIN [kdthien_coso] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [TH657]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE USER [TH657] FOR LOGIN [phngoc_truong] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [COSO]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE ROLE [COSO]
GO
/****** Object:  DatabaseRole [GIANGVIEN]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE ROLE [GIANGVIEN]
GO
/****** Object:  DatabaseRole [SINHVIEN]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE ROLE [SINHVIEN]
GO
/****** Object:  DatabaseRole [TRUONG]    Script Date: 30/03/2022 10:45:56 am ******/
CREATE ROLE [TRUONG]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [SINHVIEN] ADD MEMBER [sv_dungchung]
GO
ALTER ROLE [GIANGVIEN] ADD MEMBER [TH002]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TH002]
GO
ALTER ROLE [COSO] ADD MEMBER [TH101]
GO
ALTER ROLE [db_owner] ADD MEMBER [TH101]
GO
ALTER ROLE [TRUONG] ADD MEMBER [TH657]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [TH657]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [TH657]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TH657]
GO
ALTER ROLE [db_owner] ADD MEMBER [COSO]
GO
ALTER ROLE [db_datareader] ADD MEMBER [GIANGVIEN]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [TRUONG]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [TRUONG]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TRUONG]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[NGAYTHI] [datetime] NULL,
	[DIEM] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BODE]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] NOT NULL,
	[MAMH] [char](5) NULL,
	[TRINHDO] [char](1) NULL,
	[NOIDUNG] [ntext] NULL,
	[A] [ntext] NULL,
	[B] [ntext] NULL,
	[C] [ntext] NULL,
	[D] [ntext] NULL,
	[DAP_AN] [char](1) NULL,
	[MAGV] [char](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COSO]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [nchar](3) NOT NULL,
	[TENCS] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_COSO] PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](8) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MAKH] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN_DANGKY]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN_DANGKY](
	[MAGV] [char](8) NULL,
	[MAMH] [char](5) NOT NULL,
	[MALOP] [nchar](15) NOT NULL,
	[TRINHDO] [char](1) NULL,
	[NGAYTHI] [datetime] NULL,
	[LAN] [smallint] NOT NULL,
	[SOCAUTHI] [smallint] NULL,
	[THOIGIAN] [smallint] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIAOVIEN_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MALOP] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[MACS] [nchar](3) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](15) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[MAKH] [nchar](8) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](5) NOT NULL,
	[TENMH] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TENMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 30/03/2022 10:45:56 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](8) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MATKHAU] [nchar](25) NOT NULL,
	[MALOP] [nchar](15) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (1, N'MMTCB', N'A', N'mạng máy tính(compute netword) so với hệ thống tập trung multi-user', N'dễ phát triển hệ thống', N'tăng độ tin cậy', N'tiết kiệm chi phí', N'tất cả đều đúng', N'D', N'TH657   ', N'cda9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (3, N'MMTCB', N'A', N'để một máy tính truyền dữ liệu cho một số máy khác trong mạng, ta dùng loại địa chỉ', N'Broadcast', N'Broadband', N'multicast', N'multiple access', N'C', N'TH123   ', N'cea9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV], [rowguid]) VALUES (4, N'MMTCB', N'A', N'thứ tự phân loại mạng theo chiều dài đường truyền', N'internet, lan, man, wan', N'internet, wan, man, lan', N'lan, wan, man, internet', N'man, lan, wan, internet', N'B', N'TH123   ', N'cfa9dfec-bba3-ec11-b1da-28d244961870')
GO
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI], [rowguid]) VALUES (N'CS1', N'Cơ sở 1 ', N'11 Nguyễn Đình Chiểu, Phường Đakao, Quận 1, TP. HCM', N'afa9dfec-bba3-ec11-b1da-28d244961870')
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH002   ', N'Ven', N'Giần', N'97 Hiệp Phú', N'CNTT    ', N'7bc7976f-9ba7-ec11-b1db-28d244961870')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH101   ', N'KIEU DAC', N'THIEN', N'9,3A, Q.BINH TAN', N'CNTT    ', N'b8a9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH], [rowguid]) VALUES (N'TH117   ', N'LE PHUONG', N'TRANG', N'97 MANBUI DINH TUY TAN BINH', N'VT      ', N'f9ebf7d4-c3a3-ec11-b1da-28d244961870')
GO
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'TH002   ', N'AVCB ', N'D18CQCN01      ', N'B', CAST(N'2022-04-09T00:00:00.000' AS DateTime), 1, 20, 30, N'8eb5b5e8-19af-ec11-b1db-28d244961870')
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'TH197   ', N'CTDL ', N'PT01           ', N'A', CAST(N'2022-04-05T00:00:00.000' AS DateTime), 1, 20, 30, N'afdc25d8-6fae-ec11-b1db-28d244961870')
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN], [rowguid]) VALUES (N'TH002   ', N'CTDL ', N'PT01           ', N'A', CAST(N'2022-04-14T00:00:00.000' AS DateTime), 2, 20, 30, N'f7393937-99af-ec11-b1dc-28d244961870')
GO
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'CNTT    ', N'Công nghệ thông tin', N'CS1', N'b5a9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'CNTT2   ', N'Công nghệ 2', N'CS1', N'51420522-f1a6-ec11-b1db-28d244961870')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS], [rowguid]) VALUES (N'VT2     ', N'Viễn thông 2', N'CS1', N'2367400f-91a9-ec11-b1db-28d244961870')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'D18CQCN01      ', N'Ngành CNTT Khóa 2018 -1', N'CNTT    ', N'bca9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'PT01           ', N'PHAN TAN 2022', N'CNTT    ', N'b6d9f65d-a0aa-ec11-b1db-28d244961870')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH], [rowguid]) VALUES (N'PT02           ', N'PHAN TAN 2077', N'CNTT2   ', N'086caf97-a0aa-ec11-b1db-28d244961870')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'AVCB ', N'ANH VĂN CĂN BẢN', N'b1a9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CSDL ', N'CƠ SỞ DỮ LIỆU', N'b2a9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [rowguid]) VALUES (N'CTDL ', N'CẤU TRÚC DỮ LIỆU', N'b3a9dfec-bba3-ec11-b1da-28d244961870')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MATKHAU], [MALOP], [rowguid]) VALUES (N'001     ', N'LÊ VĂN ', N'THÀNH', CAST(N'1985-03-06' AS Date), N'23/5 PHUNG KHAC KHOAN F3 Q3', N'123                      ', N'TH04           ', N'c3a9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MATKHAU], [MALOP], [rowguid]) VALUES (N'002     ', N'DAO TRONG', N'KHAI', CAST(N'1979-08-19' AS Date), N'15/72 LE VAN THO F8 GOVAP', N'123                      ', N'TH04           ', N'c4a9dfec-bba3-ec11-b1da-28d244961870')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MATKHAU], [MALOP], [rowguid]) VALUES (N'003     ', N'CAO TUAN', N'KHA', CAST(N'1985-12-06' AS Date), N'12/5 LE QUANG DINH F5 GO VAP', N'123                      ', N'TH04           ', N'c5a9dfec-bba3-ec11-b1da-28d244961870')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_TENLOP]    Script Date: 30/03/2022 10:45:57 am ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UN_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_TENMH]    Script Date: 30/03/2022 10:45:57 am ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [UN_TENMH] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANGDIEM] ADD  CONSTRAINT [MSmerge_df_rowguid_BE08AEF6B904495D83D0EB75044E4717]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BODE] ADD  CONSTRAINT [MSmerge_df_rowguid_A6A986FD7B26448E9468C9802E4DD5F2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[COSO] ADD  CONSTRAINT [MSmerge_df_rowguid_EE8072ED3D51494CBE63C927DEB1DAC0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_413A0F7FEC294461BF894E740210E6BD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_CEB7EE9F50F34372B03327A728C6BF17]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_CA4F7575166645FA86F2F6BD86CC7CBE]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_2D937534EF1141B5A5C27FDEEACAE593]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_5154ECE1B8684552A9B3BA180DF07721]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_407503D02BD843E7BDB3F8821A4A7801]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN1] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN1]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [FK_BODE_GIAOVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_GIAOVIEN]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [FK_BODE_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_MONHOC]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_GIAOVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_KHOA]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1]
GO
ALTER TABLE [dbo].[KHOA]  WITH NOCHECK ADD  CONSTRAINT [FK_KHOA_COSO] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_KHOA_COSO]
GO
ALTER TABLE [dbo].[LOP]  WITH NOCHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_DIEM] CHECK NOT FOR REPLICATION (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_DIEM]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH NOCHECK ADD  CONSTRAINT [CK_LANTHI] CHECK NOT FOR REPLICATION (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [CK_LANTHI]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_BODE] CHECK NOT FOR REPLICATION (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_BODE]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_DAPAN] CHECK NOT FOR REPLICATION (([DAP_AN]='D' OR ([DAP_AN]='C' OR ([DAP_AN]='B' OR [DAP_AN]='A'))))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_DAPAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_LAN] CHECK NOT FOR REPLICATION (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_LAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_SOCAUTHI] CHECK NOT FOR REPLICATION (([SOCAUTHI]>=(10) AND [SOCAUTHI]<=(100)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_SOCAUTHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_THOIGIAN] CHECK NOT FOR REPLICATION (([THOIGIAN]>=(15) AND [THOIGIAN]<=(60)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_THOIGIAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH NOCHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK NOT FOR REPLICATION (([TRINHDO]='C' OR ([TRINHDO]='B' OR [TRINHDO]='A')))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_TRINHDO]
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_GIAOVIEN_DANGKY_DATONTAI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_GIAOVIEN_DANGKY_DATONTAI] 
	@MALOP nchar(15),
	@MAMH char(5),
	@LAN smallint,
	@NGAYTHI datetime
AS
	--check xem đợt này thi chưa
	IF (exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN) 
	OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH = @MAMH AND LAN = @LAN)) 
			BEGIN
				RAISERROR ('Đợt thi này đã tồn tại', 16, 1)
				RETURN
			END
	-- chưa tìm ra cách để thay điều kiện bên dưới vì dính lỗi cannot continue, 
	-- nếu sửa đc sẽ sửa đk thành IF @LAN = 2 AND NOT..
	-- 
	-- không hiểu sao nếu trong điều kiện if k có @lần= thì sẽ gặp lỗi Cannot continue the execution because the session is in the kill state.
	-- và để chỉ kiểm tra điều kiện đằng sau (có lần thi 1) có đúng hay k, ta cho trước or là chắc chắn false
	-- nếu chưa thi, thì xem đã thi lần 1 hay là chưa
	ELSE /*IF((@LAN=10) OR NOT(exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1) 
		OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1))) 
		BEGIN
			RAISERROR ('Đợt thi này chưa thi lần 1, không thể đăng kí thi lần 2', 16, 2)
			RETURN
		END*/
		IF(@LAN=2)
			BEGIN
				--PRINT ('lan2')
					IF((exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1) 
				OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1))) 
						BEGIN
							--Print (N'Đợt thi này đã thi lần 1, tiến hành kiểm tra ngày thi đợt 2 > ngày đợt 1 + 7 ngày?')
							--lấy ngày thi đợt 1
							DECLARE @NGAYTHIDOT1 datetime
							SET @NGAYTHIDOT1=
							(SELECT NGAYTHI FROM dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1
									UNION SELECT NGAYTHI FROM LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1)
		
							--PRINT ('Ngày thi đợt 1 :' + FORMAT (@NGAYTHIDOT1, 'dd/MM/yyyy'))

							DECLARE @MESSAGE nvarchar(100)
							SET @MESSAGE = CONCAT(N'Đợt 2 phải thi sau đợt 1: ', FORMAT (@NGAYTHIDOT1, 'dd/MM/yyyy') , N' ít nhất 1 tuần')
							-- kiểm tra ngày thi đợt 2 có > đợt 1 + 7 ngày
							IF(@NGAYTHI < DATEADD(DAY, 7, @NGAYTHIDOT1))-- nếu ngày thi đợt 2 không sau đợt 1 ít nhất 1 tuần
								BEGIN
									RAISERROR ( @MESSAGE , 16, 3)
								RETURN
								END
							--ELSE 
								--PRINT(N'Ngày thi đợt 2 hợp lệ')
							RETURN
						END
					ELSE
						RAISERROR ('Đợt thi này chưa thi lần 1, không thể đăng kí thi lần 2', 16, 2)
			END
	/*ELSE -- đã tồn tại đợt thi 1, lấy đc ngày thi đợt 1
	BEGIN
		DECLARE @NGAYTHIDOT1 datetime
		SET @NGAYTHIDOT1=
		(SELECT NGAYTHI FROM dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1
				UNION SELECT NGAYTHI FROM LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1)
		
		SELECT @NGAYTHIDOT1 as NGAYTHIDOT1
		DECLARE @MESSAGE nvarchar(100)
		SET @MESSAGE = CONCAT(N'Đợt 2 phải thi sau đợt 1: ', FORMAT (@NGAYTHIDOT1, 'dd/MM/yyyy') , N' ít nhất 1 tuần')
		IF(@NGAYTHI < DATEADD(DAY, 7, @NGAYTHIDOT1))-- nếu ngày thi đợt 2 không sau đợt 1 ít nhất 1 tuần
			BEGIN
				RAISERROR ( @MESSAGE , 16, 3)
				RETURN
			END
	--RAISERROR ('Đợt thi này đã thi lần 1', 16, 3)
		
	END*/




	--IF (exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN) 
	--OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH = @MAMH AND LAN = @LAN)) 
	--		RAISERROR ('Đợt thi này đã tồn tại', 16, 1)
	--ELSE
	--IF NOT(exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1) 
	--OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH = @MAMH AND LAN = 1)) 
   --		RAISERROR ('Đợt thi này chưa thi lần 1', 16, 1)
	/*ELSE -- đã thi lần 1, lấy date lần 1 để ktra (nhưng chưa thì gặp lỗi Cannot continue the execution because the session is in the kill state.
	IF (@LAN=2)
		BEGIN
		DECLARE @NGAYTHIDOT1 datetime
		SELECT @NGAYTHIDOT1
			SELECT @NGAYTHIDOT1 = NGAYTHI FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1
			SELECT @NGAYTHIDOT1
			IF(@@ROWCOUNT=0) -- nếu đợt thi 1 k có ở site hiện tại thì sang site kia
				SELECT @NGAYTHIDOT1 = NGAYTHI FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = 1
			SELECT @NGAYTHIDOT1
			IF(@@ROWCOUNT=0) -- nếu đợt thi 1 vẫn k có ở site kia thì chứng tỏ mã môn mã lớp này chưa thi đợt 1
				RAISERROR ('Đợt thi này chưa đăng ký thi lần 1, không thể tạo lần thi thứ 2', 16, 2)
			SELECT @NGAYTHIDOT1
			IF NOT (@NGAYTHIDOT1=NULL) -- có ngày thi đợt 1, v đã đăng kí đợt 1 chưa đăng ký đợt 2
				SELECT @NGAYTHIDOT1
		END*/


GO
/****** Object:  StoredProcedure [dbo].[SP_KT_GIAOVIEN_DATONTAI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_GIAOVIEN_DATONTAI] 
	@MAGV char(8)
AS
	IF  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV = @MAGV)
   		RAISERROR ('Mã giáo viên đã tồn tại, vui lòng nhập mã khác', 16, 1)

	--IF  exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH)
	--	RAISERROR ('Tên môn học đã tồn tại, vui lòng nhập tên khác', 16, 2)


GO
/****** Object:  StoredProcedure [dbo].[SP_KT_KHOA_DATONTAI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_KHOA_DATONTAI] 
	@MAKH char(8),
	@TENKH nvarchar(50),
	@CHEDOCHECK nchar(10)
AS
	--EXEC SP_KT_KHOA_DATONTAI 'VT2', N'Công nghệ thông tin', 'KTRATHEM'
	IF(@CHEDOCHECK='KTRATHEM')
	-- nếu thêm thì mã khoa ph chưa tồn tại ở 2 site, cộng thêm tên khoa cũng k đc trùng
		BEGIN 
			IF (EXISTS(SELECT MAKH FROM KHOA WHERE MAKH=@MAKH) 
				OR EXISTS (SELECT MAKH FROM LINK1.TN_CSDLPT.dbo.KHOA WHERE MAKH=@MAKH))
				RAISERROR('Mã khoa đã tồn tại', 16, 1) 
			IF(EXISTS (SELECT MAKH FROM KHOA WHERE TENKH=@TENKH) 
				OR EXISTS (SELECT MAKH FROM LINK1.TN_CSDLPT.dbo.KHOA WHERE TENKH=@TENKH))
				RAISERROR('Tên khoa đã tồn tại', 16, 2)
		END
	ELSE --@CHEDOCHECK='KTRASUA'
	-- nếu sửa thì nếu mã giống tên giống thì hợp lệ (không sửa chính nó nhưng vẫn lưu)
	-- nếu có mã khoa khác trùng tên khoa thì không hợp lí, ta bắt lỗi này
		BEGIN
			IF(EXISTS (SELECT TENKH FROM KHOA WHERE MAKH<>@MAKH AND TENKH=@TENKH ) 
				OR EXISTS (SELECT TENKH FROM LINK1.TN_CSDLPT.dbo.KHOA WHERE MAKH<>@MAKH AND TENKH=@TENKH))
				RAISERROR('Tên khoa muốn sửa trùng với khoa khác', 16, 2)
		END

GO
/****** Object:  StoredProcedure [dbo].[SP_KT_LOP_DATONTAI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_LOP_DATONTAI] 
	@MALOP nchar(15),
	@TENLOP nvarchar(50),
	@MAKH nchar(8),
	@CHEDOCHECK nchar(10)
AS
	--EXEC SP_KT_LOP_DATONTAI 'TH06', N'TIN HOC 2006','CNTT', 'KTRATHEM'
	IF(@CHEDOCHECK='KTRATHEM')
	-- nếu thêm thì mã lớp ph chưa tồn tại ở 2 site, cộng thêm tên lớp cũng k đc trùng
		BEGIN 
			IF (EXISTS(SELECT MALOP FROM LINK2.TN_CSDLPT.dbo.LOP WHERE MALOP=@MALOP))
				RAISERROR('Mã lớp đã tồn tại', 16, 1) 
			IF(EXISTS (SELECT MALOP FROM LINK2.TN_CSDLPT.dbo.LOP WHERE TENLOP=@TENLOP))
				RAISERROR('Tên lớp đã tồn tại', 16, 2)
		END
	ELSE --@CHEDOCHECK='KTRASUA'
	-- nếu sửa thì nếu mã giống tên giống thì hợp lệ (không sửa chính nó nhưng vẫn lưu)
	-- nếu có mã khác trùng tên thì không hợp lí, ta bắt lỗi này
		BEGIN
			IF(EXISTS (SELECT MALOP FROM LINK2.TN_CSDLPT.dbo.LOP WHERE MALOP<>@MALOP AND TENLOP=@TENLOP))
				RAISERROR('Tên lớp muốn sửa đã tồn tại', 16, 2)
		END

GO
/****** Object:  StoredProcedure [dbo].[SP_KT_MONHOC_DATONTAI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_MONHOC_DATONTAI] @MAMH nchar(5),
	@TENMH nvarchar(50),
	@CHEDOCHECK nchar(10)
AS

	IF(@CHEDOCHECK='KTRATHEM')
	-- nếu thêm thì mã môn ph chưa tồn tại cộng thêm tên khoa cũng k đc trùng
		BEGIN 
			IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   				RAISERROR ('Mã môn học đã tồn tại, vui lòng nhập mã khác', 16, 1)
			IF  exists(SELECT TENMH FROM  dbo.MONHOC WHERE TENMH = @TENMH)
				RAISERROR ('Tên môn học đã tồn tại, vui lòng nhập tên khác', 16, 2)
		END
	ELSE --@CHEDOCHECK='KTRASUA'
	-- nếu thêm thì nếu mã giống tên giống thì hợp lệ (không sửa chính nó nhưng vẫn lưu)
	-- nếu có mã môn khác trùng tên môn thì không hợp lí, ta bắt lỗi này
		BEGIN
			IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH <> @MAMH AND TENMH=@TENMH)
   				RAISERROR ('Tên môn muốn sửa đã tồn tại, vui lòng nhập tên khác', 16, 2)
		END
GO
/****** Object:  StoredProcedure [dbo].[SP_KT_SINHVIEN_DATONTAI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KT_SINHVIEN_DATONTAI] 
	@MASV char(8)
	
AS
	--EXEC [SP_KT_SINHVIEN_DATONTAI] '002'
	
	-- nếu thêm thì mã sinh viên ph chưa tồn tại ở site tra cứu
			IF (EXISTS(SELECT MASV FROM LINK2.TN_CSDLPT.dbo.SINHVIEN WHERE MASV=@MASV))
				RAISERROR('Mã sinh viên đã tồn tại', 16, 1) 



GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_GIAOVIEN]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_GIAOVIEN]
AS
--DECLARE @TENMH
	SELECT MAGV, HOTEN = CONCAT(TRIM(MAGV), ' - ',  CONCAT(TRIM(HO),' ',TRIM(TEN))) FROM GIAOVIEN


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_KHOA]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_KHOA] 
AS
--DECLARE @TENMH
	SELECT MAKH, TENKH = CONCAT(TRIM(MAKH), ' - ', TRIM(TENKH)) FROM KHOA


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LOP]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_LOP] 
AS
--DECLARE @TENMH
	SELECT MALOP, TENLOP = CONCAT(TRIM(MALOP), ' - ', TRIM(TENLOP)) FROM LOP


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_MONHOC]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_DS_MONHOC] 
AS
--DECLARE @TENMH
	SELECT MAMH, TENMH = CONCAT(TRIM(MAMH), ' - ', TRIM(TENMH)) FROM MONHOC


GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_STT_CAUHOI_TIEPTHEO]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROC [dbo].[SP_LAY_STT_CAUHOI_TIEPTHEO]
AS
 SELECT MAX(CAUHOI)+1 AS NEXTID FROM BODE
 
  

GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TT_GIANGVIEN_LOGIN]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROC [dbo].[SP_LAY_TT_GIANGVIEN_LOGIN]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM dbo.GIAOVIEN  WHERE MAGV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE 
   UID = (SELECT GROUPUID FROM SYS.SYSMEMBERS 
							WHERE MEMBERUID = (SELECT UID FROM sys.sysusers WHERE NAME=@TENUSER))

GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TT_SV]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROC [dbo].[SP_LAY_TT_SV]
@MASV NCHAR (8),
@MATKHAU NCHAR(25)
AS
 SELECT MASV, 
  HOTEN = HO+ ' '+ TEN FROM dbo.SINHVIEN  WHERE MASV = @MASV AND MATKHAU=@MATKHAU
  

GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_CAUHOI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SUA_CAUHOI]
	@idCauHoi int,
	@MAMH char(5),
	@TRINHDO char(1),
	@NOIDUNG ntext,
	@A ntext,
	@B ntext,
	@C ntext,
	@D ntext,
	@DAP_AN char(1),
	@MAGV char(8)
AS
	--IF  exists(SELECT CAUHOI FROM  dbo.BODE WHERE CAUHOI = @idCauHoi)
   	--	RAISERROR ('Mã câu hỏi đã tồn tại', 16, 1)
		-- có nên check thêm điều kiện cùng nội dung cùng mã môn mới là trùng câu?
	--ELSE 
	-- khi sửa thì xem có câu hỏi nào khác id trùng nội dung k
	IF  exists(SELECT NOIDUNG FROM  dbo.BODE WHERE 
	cast(NOIDUNG as nvarchar(max)) = cast(@NOIDUNG as nvarchar(max)) AND CAUHOI<>@idCauHoi) 
   		RAISERROR ('Câu hỏi đã tồn tại', 16, 1)
	 
		UPDATE dbo.BODE SET MAMH=@MAMH, TRINHDO=@TRINHDO, NOIDUNG=@NOIDUNG
		, A=@A, B=@B, C=@C, D=@D, DAP_AN=@DAP_AN, MAGV=@MAGV WHERE CAUHOI=@idCauHoi
	SELECT @idCauHoi AFFECTED_ID	-- lấy id vừa suwar 
 
 
  

GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_GIAOVIEN]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_GIAOVIEN]
  @MAGV nchar(5),
  @HO nvarchar(50),
  @TEN nvarchar(10),
  @DIACHI nvarchar(50),
  @MAKH nchar(8)
AS
	--IF  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV = @MAGV)
   	--	RAISERROR ('Mã giáo viên đã tồn tại, vui lòng nhập mã khác', 16, 1)
	--ELSE 
	--vì giáo viên nhân bản, khoa lại không, nên khi sửa giáo viên ở site khác, ở phía code ta k cho chỉnh
	-- sửa mã khoa, bên sp ta không chekc khóa ngoại lúc sửa, lúc sửa xong lại check
	ALTER TABLE dbo.GIAOVIEN  
	NOCHECK CONSTRAINT FK_GIAOVIEN_KHOA; 

		UPDATE dbo.GIAOVIEN SET MAGV=@MAGV, HO=@HO, TEN=@TEN, DIACHI=@DIACHI , MAKH=@MAKH WHERE MAGV=@MAGV
	SELECT @MAGV AFFECTED_ID	-- lấy id vừa sửa 

	ALTER TABLE dbo.GIAOVIEN 
	CHECK CONSTRAINT FK_GIAOVIEN_KHOA; 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_GIAOVIEN_DANGKY]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_GIAOVIEN_DANGKY]
	@MAGV char(8),
	@MAMH char(5),
	@MALOP nchar(15),
	@TRINHDO char(1),
	@NGAYTHI datetime,
	@LAN smallint,
	@SOCAUTHI smallint,
	@THOIGIAN smallint
AS
--undo xóa
		
	--IF  (exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN) 
	--OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN)) 
   	--	RAISERROR ('Đợt thi này đã tồn tại, không thể phục hồi', 16, 1)
	--ELSE
	--BEGIN
		UPDATE dbo.GIAOVIEN_DANGKY SET MAGV=@MAGV, TRINHDO=@TRINHDO, NGAYTHI=@NGAYTHI, SOCAUTHI=@SOCAUTHI, THOIGIAN=@THOIGIAN 
			WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN
		SELECT @MALOP AFFECTED_ID	-- lấy id vừa sửa
			,@MAMH AFFECTED_MAMH, @MALOP AFFECTED_MALOP, @LAN AFFECTED_LAN
	--END
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_GIAOVIEN_IGNORE_FK]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_GIAOVIEN_IGNORE_FK]
  @MAGV nchar(5),
  @HO nvarchar(50),
  @TEN nvarchar(10),
  @DIACHI nvarchar(50),
  @MAKH nchar(8)
AS
	-- phải ignore khóa ngoại vì khoa không nhân bản
	--IF  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV = @MAGV)
   	--	RAISERROR ('Mã giáo viên đã tồn tại, vui lòng nhập mã khác', 16, 1)
	--ELSE 
	ALTER TABLE dbo.GIAOVIEN  
	NOCHECK CONSTRAINT FK_GIAOVIEN_KHOA; 

		UPDATE dbo.GIAOVIEN SET HO=@HO, TEN=@TEN, DIACHI=@DIACHI , MAKH=@MAKH WHERE MAGV=@MAGV
	SELECT @MAGV AFFECTED_ID	-- lấy id vừa sửa 

	ALTER TABLE dbo.GIAOVIEN 
	CHECK CONSTRAINT FK_GIAOVIEN_KHOA; 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_KHOA]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_KHOA]
  @MAKH char(8),
  @TENKH nvarchar(50)
  --,
  --@MACS nchar(3) không cần mã cơ sở vì bên code cũng k cho sửa mã cơ sở mà
AS
	--IF  exists(SELECT @MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
   	--	RAISERROR ('Mã khoa đã tồn tại, không thể phục hồi', 16, 1)
	--ELSE 
		UPDATE dbo.KHOA SET TENKH=@TENKH WHERE MAKH=@MAKH
	SELECT @MAKH AFFECTED_ID	-- lấy id vừa sửa 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_LOP]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_LOP]
	@MALOP nchar(15),
	@TENLOP nvarchar(50),
	@MAKH nchar(8)
  --,
  --@MACS nchar(3) không cần mã cơ sở vì bên code cũng k cho sửa mã cơ sở mà
AS
	--IF  exists(SELECT @MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
   	--	RAISERROR ('Mã khoa đã tồn tại, không thể phục hồi', 16, 1)
	--ELSE 
		UPDATE dbo.LOP SET TENLOP=@TENLOP, MAKH=@MAKH WHERE MALOP=@MALOP
	SELECT @MALOP AFFECTED_ID	-- lấy id vừa sửa
	


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_MONHOC]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_MONHOC]
  @MAMH nchar(5),
  @TENMH nvarchar(50)
AS
	--IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   	--	RAISERROR ('Mã môn học đã tồn tại, vui lòng nhập mã khác', 16, 1)
	--ELSE 
		UPDATE dbo.MONHOC  SET TENMH = @TENMH WHERE MAMH=@MAMH
		SELECT @MAMH AFFECTED_ID


GO
/****** Object:  StoredProcedure [dbo].[SP_SUA_SINHVIEN]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SUA_SINHVIEN]
	@MASV char(8),
	@HO nvarchar(50),
	@TEN nvarchar(10),
	@NGAYSINH date,
	@DIACHI nvarchar(100),
	@MATKHAU char(25),
	@MALOP nchar(15)
AS

		UPDATE dbo.SINHVIEN SET HO=@HO, TEN=@TEN, NGAYSINH=@NGAYSINH, DIACHI=@DIACHI, MATKHAU=@MATKHAU, MALOP = @MALOP WHERE MASV = @MASV
		SELECT @MASV AFFECTED_ID	-- lấy id vừa sửa 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_CAUHOI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_CAUHOI]
	@idCauHoi int,
	@MAMH char(5),
	@TRINHDO char(1),
	@NOIDUNG ntext,
	@A ntext,
	@B ntext,
	@C ntext,
	@D ntext,
	@DAP_AN char(1),
	@MAGV char(8)
AS
	IF  exists(SELECT CAUHOI FROM  dbo.BODE WHERE CAUHOI = @idCauHoi)
   		RAISERROR ('Mã câu hỏi đã tồn tại', 16, 1)
		-- có nên check thêm điều kiện cùng nội dung cùng mã môn mới là trùng câu?
	ELSE IF  exists(SELECT NOIDUNG FROM  dbo.BODE WHERE cast(NOIDUNG as nvarchar(max)) = cast(@NOIDUNG as nvarchar(max))) 
   		RAISERROR ('Câu hỏi đã tồn tại', 16, 2)
	ELSE 
		INSERT INTO dbo.BODE (CAUHOI, MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV) 
						VALUES(@idCauHoi, @MAMH, @TRINHDO, @NOIDUNG, @A, @B, @C, @D, @DAP_AN, @MAGV)
	SELECT @idCauHoi AFFECTED_ID	-- lấy id vừa thêm 
 
 
  

GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_GIAOVIEN]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_GIAOVIEN]
  @MAGV nchar(5),
  @HO nvarchar(50),
  @TEN nvarchar(10),
  @DIACHI nvarchar(50),
  @MAKH nchar(8)
AS
	IF  exists(SELECT MAGV FROM  dbo.GIAOVIEN WHERE MAGV = @MAGV)
   		RAISERROR ('Mã giáo viên đã tồn tại, vui lòng nhập mã khác', 16, 1)
	ELSE 
		INSERT INTO dbo.GIAOVIEN (MAGV, HO, TEN, DIACHI, MAKH) VALUES(@MAGV, @HO, @TEN, @DIACHI, @MAKH)
	SELECT @MAGV AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_GIAOVIEN_DANGKY]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_GIAOVIEN_DANGKY]
	@MAGV char(8),
	@MAMH char(5),
	@MALOP nchar(15),
	@TRINHDO char(1),
	@NGAYTHI datetime,
	@LAN smallint,
	@SOCAUTHI smallint,
	@THOIGIAN smallint
AS
--undo xóa
		
	IF  (exists(SELECT LAN FROM  dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN) 
	OR exists(SELECT LAN FROM  LINK1.TN_CSDLPT.dbo.GIAOVIEN_DANGKY WHERE MALOP = @MALOP AND MAMH=@MAMH AND LAN = @LAN)) 
   		RAISERROR ('Đợt thi này đã tồn tại, không thể phục hồi', 16, 1)
	ELSE
	BEGIN
		INSERT INTO dbo.GIAOVIEN_DANGKY (MAGV, MAMH, MALOP, TRINHDO, NGAYTHI, LAN, SOCAUTHI, THOIGIAN) VALUES(@MAGV, @MAMH, @MALOP, @TRINHDO, @NGAYTHI, @LAN, @SOCAUTHI, @THOIGIAN)
		SELECT @MALOP AFFECTED_ID	-- lấy id vừa thêm 
			,@MAMH AFFECTED_MAMH, @MALOP AFFECTED_MALOP, @LAN AFFECTED_LAN
	END
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_KHOA]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_KHOA]
  @MAKH char(8),
  @TENKH nvarchar(50),
  @MACS nchar(3)
AS
	IF  exists(SELECT MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
   		RAISERROR ('Mã khoa đã tồn tại, không thể phục hồi', 16, 1)
	ELSE 
		INSERT INTO dbo.KHOA (MAKH, TENKH, MACS) VALUES(@MAKH, @TENKH, @MACS)
	SELECT @MAKH AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_LOP]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_LOP]
	@MALOP nchar(15),
	@TENLOP nvarchar(50),
	@MAKH nchar(8)
AS
	IF  exists(SELECT MALOP FROM  dbo.LOP WHERE MALOP = @MALOP)
   		RAISERROR ('Mã lớp đã tồn tại, không thể phục hồi', 16, 1)
	ELSE 
		INSERT INTO dbo.LOP (MALOP, TENLOP, MAKH) VALUES(@MALOP, @TENLOP, @MAKH)
	SELECT @MALOP AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_MONHOC]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_MONHOC]
  @MAMH nchar(5),
  @TENMH nvarchar(50)
AS
	IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   		RAISERROR ('Mã môn học đã tồn tại, vui lòng nhập mã khác', 16, 1)
	ELSE 
		INSERT INTO dbo.MONHOC (MAMH, TENMH) VALUES(@MAMH, @TENMH)
	SELECT @MAMH AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_SINHVIEN]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_THEM_SINHVIEN]
	@MASV char(8),
	@HO nvarchar(50),
	@TEN nvarchar(10),
	@NGAYSINH date,
	@DIACHI nvarchar(100),
	@MATKHAU nchar(25),
	@MALOP nchar(15)
AS
	IF (EXISTS(SELECT MASV FROM SINHVIEN WHERE MASV=@MASV) 
				OR EXISTS (SELECT MASV FROM LINK1.TN_CSDLPT.dbo.SINHVIEN WHERE MASV=@MASV))
		RAISERROR('Mã sinh viên đã tồn tại, không thể phục hồi',16,1)
	ELSE 
		INSERT INTO dbo.SINHVIEN (MASV, HO, TEN, NGAYSINH, DIACHI, MATKHAU, MALOP) VALUES(@MASV, @HO, @TEN,@NGAYSINH,@DIACHI,@MATKHAU,@MALOP)
		SELECT @MASV AFFECTED_ID	-- lấy id vừa thêm 
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_CAUHOI]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_CAUHOI]
  @idCauHoi int
AS
		DELETE FROM dbo.BODE WHERE CAUHOI=@idCauHoi
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_GIAOVIEN]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_GIAOVIEN]
  @MAGV char(8)
AS
		DELETE FROM dbo.GIAOVIEN WHERE MAGV=@MAGV
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_GIAOVIEN_DANGKY]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_GIAOVIEN_DANGKY]
  @MAMH char(5),
  @MALOP nchar(15),
  @LAN smallint
AS
--undo thêm
		DELETE FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND MALOP = @MALOP AND LAN = @LAN
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_KHOA]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_KHOA]
  @MAKH char(8)
AS
	--IF  exists(SELECT @MAKH FROM  dbo.KHOA WHERE MAKH = @MAKH)
   	--	RAISERROR ('Mã khoa đã tồn tại, không thể phục hồi', 16, 1)
	--ELSE 
		DELETE FROM KHOA WHERE MAKH=@MAKH
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_LOP]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_LOP]
  @MALOP nchar(15)
AS
--undo thêm
		DELETE FROM LOP WHERE MALOP=@MALOP
	
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_MONHOC]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_MONHOC]
  @MAMH nchar(5)
AS
	--IF  exists(SELECT MAMH FROM  dbo.MONHOC WHERE MAMH = @MAMH)
   	--	RAISERROR ('Mã môn học đã tồn tại, vui lòng nhập mã khác', 16, 1)
	--ELSE 
		DELETE FROM dbo.MONHOC WHERE MAMH=@MAMH
	


GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_SINHVIEN]    Script Date: 30/03/2022 10:45:57 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_XOA_SINHVIEN]
  @MASV char(8)
AS
--undo thêm
		DELETE FROM SINHVIEN WHERE MASV=@MASV
	
	


GO
